<div class="dialog-content">
    <div class="row">
        <form [formGroup]="form">
            <formly-form [model]="model" [fields]="fields" [form]="form">
            </formly-form>
        </form>
    </div>
    <div class="flex justify-end">
        <button type="submit" class="btn btn-primary mr-5" (click)="add()" [disabled]="!isFormValid()">
            <span class="glyphicon glyphicon-save"></span>  {{ 'global.actions.save' | translate }}
        </button>
        <button type="button" class="btn btn-default" (click)="cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span> {{ 'global.actions.cancel' | translate }}
        </button>
    </div>
</div>
