<div class="form-group" [class.error]="showError">
    <label [ngClass]="{'col-md-3 col-form-label' : to.horizontalTemplate }" *ngIf="to.label">
        {{to.label}}
        <span *ngIf="to.required" class="ng-star-inserted">*</span>
    </label>
    <div style="position: relative; display: block;" [ngClass]="{
        'col-md-9 col-form-label' : to.horizontalTemplate,
        'col-md-12 col-form-label padding-left-0' : to.timeOnly
    }">
        <p-calendar
            [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}"
            [formlyAttributes]="field"
            [formControl]="formControl"
            [readonlyInput]="to.readonlyInput"
            [locale]="locales[locale]"
            [dateFormat]="to.dateFormat"
            [hourFormat]="locales[locale].hourFormat"
            [selectionMode]="selectionMode"
            [required]="to.required"
            [showButtonBar]="to.showButtonBar"
            [showIcon]="to.showIcon"
            [timeOnly]="to.timeOnly"
            [showSeconds]="to.showSeconds"
            [minDate]="to.minDate"
            [view]="to.view">
        </p-calendar>
    </div>
</div>
