//Background
.bg-green-light{
background-color: #69BE28;
}

.bg-green-default{
background-color:#007E7A;
}

.bg-red-dark{
background-color: #BB133E;
}

.bg-white-light {
    background-color: white;
}


//Text-Color
.green-light{
 color: #69BE28 !important;
}

.green-default{
 color:#007E7A;
}

.red-dark{
 color: #BB133E !important;
}

.text-white{
    color: white;
}

.text-black {
    color: #4E4E4E;
}

.text-red {
    color: #BB133E;
}

.text-green {
    color: #69BE28;
}
