/*text */
.colorOPERATION{
    color: #449d44;
}

.colorOPERATIONAL_DOWNTIME{
    color: #000000;
}

.colorFAULT_DOWNTIME{
    color: #c9302c;
}

.colorMAINTENANCE_DOWNTIME{
    color: #306fa7;
}

/*border */

.borderColorIndex {
    color: #0db8db;
}

.borderColorIndex1 {
    color: #449d44;
}

.borderColorIndex2 {
    color: #c9302c;
}

.borderColorIndex3 {
    color: #306fa7;
}

.borderColorIndex4 {
    color: #000000;
}

.checkbox-list {
    display: flex;
    padding-bottom: 10px;
}



